:root {
  --clr-primary: #0e48fe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
  --clr-gray800: #0c101d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-gray100);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: calc(25% - 1rem);
  transition: transform 250ms ease-out;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card .card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 350ms, bottom 250ms;
}

.card p {
  text-align: center;
  line-height: 1.5rem;
  color: var(--clr-primary);
  transition: transform 250ms;
}

/* card hover Effects */
.card:hover img {
  transform: scale(1.1);
}

.card:hover .card__details {
  opacity: 1;
  bottom: 0;
}

.card:hover .card__details p {
  transform: translateY(-10px);
}

@media (max-width: 1200px) {
  .card {
    width: calc(33.333% - 1rem);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
